@import url(https://fonts.googleapis.com/earlyaccess/notosansjp.css);
@import url(https://fonts.googleapis.com/earlyaccess/notosansjapanese.css);

body{
    background-color: rgb(93, 119, 236);
    color:black;

    font-family:'Noto Sans JP', sans-serif;
    font-size: 17px;
    line-height:1.5;
    margin:0;
    padding:0;

    overflow: hidden;
}

h1{
    font-size: 70px;
}

h2{
    font-size: 30px;
}

h3{
    font-size: 20px;
}

h4{
    font-size: 17px;
}

html {
    overflow-y: scroll;
}

header{
    overflow:hidden;
}

header a{
    color:black;
    text-decoration: none;
    text-transform: capitalize;
}

header li{
    float:left;
    display: inline;
    padding: 0px 20px 0px 20px;
}

header ul{
    margin:0;
    padding:0;
}

header #branding{
    float:left;
}

header #branding h4{
    float:left;
    font-size: 23px;
}

header nav{
    float: right;
    padding-top:40px;
}


.container-1{
    padding-left: 50px;
    padding-right: 50px;
}
    
.container-1 div{
    margin:0;
    padding:10px;
}

.container-2{
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    justify-content:space-around;
    
}

a{
    position: relative;
    font-size: 20px;
}
  
a::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    border-radius: 6px;
    background-color:black;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}
  
a:hover::before{
    transform-origin: left;
    transform: scaleX(1);
}

/*Home/Landing Page*/
.landing-page h1 {
    box-shadow: inset 0 0 0 0 black;
    color:rgb(0, 0, 0);
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
.landing-page h1:hover {
    box-shadow: inset 900px 0 0 0  black;
    color: white;
}

header{
    animation: main-header; 
    position: relative;
    animation-timing-function: ease-in-out;
    animation-duration: 2s;
    animation-delay: 0.5s;
    visibility: hidden;
    animation-fill-mode: forwards;
}

@keyframes main-header{
    0% {top: -500px}
    100% {top: 0px ; visibility: visible;}
    70% {top: 10px ; visibility: visible;}
}

.landing-page{
    padding-top: 15%;
    animation: ease-in-from-top;   
    position: relative;
    animation-timing-function: ease-in-out;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

@keyframes ease-in-from-top{
    0% {top: -200px}
    100% {top: 0px}
    70% {top: 10px}
    
}

#footer{
    position:fixed;
    bottom:0;
    width:100%;
    height:60px;
    font-size: 10px;
}

@keyframes fade {
    0% {opacity: 0;}
    100% {opacity: 1; visibility: visible;}
    
}

/* Subpages*/

.container-page{
    width: 100%;
    height: 100%;
}

.full-page{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgb(66, 140, 236);
}

.page-title{
    animation: ease-in-from-top;   
    position: relative;
    animation-timing-function: ease-in-out;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.box{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 30px;
}

.arrow{
    animation: bounce;
    position: absolute;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in;
    animation-delay: 2s;
    animation-duration: 1s;
    bottom: 0;
    
}

@keyframes bounce{
    0% {bottom: 0px;}
    100% { bottom: -30px; }
}

.contact-page{
    display: flex;
}

.contact-content li{
    font-size: 20px;
    list-style: none;
    text-align: start;
    padding-left: 20%;
    animation: fade;   
    animation-timing-function: ease-in-out;
    animation-delay: 2s;
    visibility: hidden;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.skills-content{
    padding-left: 20px;
    padding-right: 20px;
    animation: fade;   
    animation-timing-function: ease-in-out;
    animation-delay: 2s;
    visibility: hidden;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    
}

.content{
    padding-left: 20%;
    padding-right: 20%;
    text-align: start;
    animation: fade;   
    animation-timing-function: ease-in-out;
    animation-delay: 2s;
    visibility: hidden;
    animation-duration: 2s;
    animation-fill-mode: forwards;

}

.full-page:nth-of-type(1){
    background: rgb(255, 255, 255);
    color: rgb(41, 40, 40);
}

.full-page:nth-of-type(2){
    background: white;
    color: rgb(41, 40, 40);
        
}

/* grid */
.grid-container {
    display: grid;
    grid-template-columns: 500px 500px;
    column-gap: 50px;
    row-gap: 50px;
    
}

.grid-item1{
    background-color:  rgb(66, 202, 236);
    padding: 30px;
    border-radius: 8px;
}

.grid-item2{
    background-color:  rgb(236, 66, 117);
    padding: 30px;
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    border-radius: 8px;
}


/*scrollbar*/
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px white;
    background: white;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: grey;
  }












